
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
.env
.venv

# Django
db.sqlite3
*.log
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Docker
*.pid
*.db
*.sock
docker-compose.override.yml

# Virtualenv
venv/
ENV/
env.bak/
env/

# Coverage
htmlcov/
.coverage
.tox/
.cache/

# Node (caso tenha front)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
build/
dist/
*.egg-info/

