{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>PIBVP Kids - Ranking Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap" rel="stylesheet"> -->


</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="{% static '/images/game2.png' %}" alt="PIBVP Kids - Ranking Game">
    </div>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>COLOCAÇÃO</th>
            <th>CRIANÇA</th>
            <th>TOTAL DE PONTOS</th>
          </tr>
        </thead>
        <tbody>
          {% for item in ranking %}
          <tr>
            <td>
                {% if item.posicao == 1 %}
                    <span class="medalha ouro">🥇</span>
                {% elif item.posicao == 2 %}
                    <span class="medalha prata">🥈</span>
                {% elif item.posicao == 3 %}
                    <span class="medalha bronze">🥉</span>
                {% else %}
                    {{ item.posicao }}
                {% endif %}
            </td>
            <td>{{ item.nome|upper }}</td>
            <td>{{ item.total|floatformat:1 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
